.login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $turquesa;

    @include tablet{
        width: 90%;
    }

    @include desktop{
        width: 40%;
        height: auto;
    }
}

.login-cont{
    padding: 1rem;
    width: 100%;
    color: $blanco;

    h2{
        text-align: start;
        font-size: 2.6rem;
        margin: 0;
        max-width: 100%;
        margin: auto;
        font-weight: 200;

        @include tablet{
            width: 90%;
        }

        @include desktop{
            width: 60%;
        }
    }

    .login-form{
        max-width: 100%;
        margin: auto;
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;

        @include tablet{
            width: 90%;
        }

        @include desktop{
            width: 60%;
        }
    }

    .login-form-group{
        margin-bottom: 6px;
        label{
            font-weight: 200;
            margin-bottom: 6px;
        }
        input{
            width: 100%;
            padding: 0.6rem;
            outline: none;
        }
    }
}
.login-form-button{
    border: none;
    padding: 1rem;
    margin: 10px 0 0 0;
    background-color: $amarillo;
    color: $blanco;
    transition: all 0.3s;
    &:hover{
        cursor: pointer;
        outline: none;
        transform: scale(1.03);
    }
}